body {
  font-family: 'Fuggles','Playfair Display', sans-serif;
  background-color: black;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
}

p {
  font-family: 'Dancing Script','Playfair Display', sans-serif;
  font-size: 1.8em;
}

article {
  text-align: justify; /* Justify the text content */
  width: 80%; /* Set a width for the article */
  margin: 0 auto; /* Center the article horizontally */
}

/* Style for the code container */
.code-container {
  position: relative;
  border: 1px solid #000000;
  padding: 10px;
  margin: 20px;
  /* Set a maximum height for the container and enable vertical scrolling */
  max-height: fit-content;
  overflow-y: hidden;
}

/* Style for the copy button */
.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #240035;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

article {
  background-color: black;
  color: white;
  font-size: 1.7em;
}

summary {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

/* Style for all list items */
li {
  list-style: none;
  margin-left: 20px; /* Adjust the margin as needed */
  position: relative;
  font-size: 24px;
}

/* Style for ordered list items */
ol li:before {
  content: counter(li) ". "; /* Add a counter with a period after each ordered list item */
  /* counter-increment: li; */
  position: absolute;
  left: -20px; /* Adjust the positioning to align with the margin */
}

/* Style for unordered list items */
ul li:before {
  content: "> "; /* Use a bullet character for unordered list items */
  position: absolute;
  left: -20px; /* Adjust the positioning to align with the margin */
}

h3, h4, h5, h6 {
  background-color: black;
  color: white;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  font-size: 3em;
  color: purple;
}

h2 {
  font-size: 2.5em;
  color: yellow;
}

h3 {
  font-size: 2em;
}

a {
  background-color: black;
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

